black==23.10.1
click==8.1.7
et-xmlfile==1.1.0
mypy-extensions==1.0.0
openpyxl==3.1.2
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
six==1.16.0
tomli==2.0.1
transliterate==1.10.2
typing_extensions==4.8.0
